body{
    background-color:#F7F6F5;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    margin-top:70px;
}

p{
    font-size: 1.2rem;
}

.button{
    border:1px solid black;
    font-size:20px;
    padding:3px;
    cursor:pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover{
    font-weight:bold;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.playagain{
    background-color: #cfb917;
}

.continue{
    background-color: #009905;
}

.demoBox{
    position:relative;
    width:fit-content;
    margin:auto;
    background-color:wheat;
    border: 1px solid black;  
    border-radius: 4px;
    padding:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    margin-top: 20px;
}

.demotext{
    position:relative;
    font-size:10pt;
    bottom: 0;
}

.info{
    position:absolute;
    right:1rem;
    top:0px;
    width:fit-content;
    font-size:25pt;
    margin:auto;
}

.info:hover .tooltip{
    cursor:default;
    visibility:visible;
}
.tooltip{
    visibility:hidden;
    background-color:white;
    border:1px solid black;
    font-size:12pt;
    position:absolute;
    right:-10rem;
    z-index:1;
    padding:1rem;
    width:max-content;
}

.mapselectorcontainer{
    background:wheat;
    position:absolute;
    width:60%;
    border: 1px solid black;
    border-radius: 4px;
    padding:5px;
    margin-bottom: 1.5rem;
    margin: 30% 120px 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
}

.mapselector{
    background-color:wheat;
    border: 1px solid black;
    border-radius: 4px;
    width:fit-content;
    cursor:pointer;
    padding:5px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dnd-game{
    position:relative;
    width: 900px;
    margin:auto;
    padding:10px;
    background-color: wheat;
    border: 1px solid black;  
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dnd-choices{
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
    position:relative;
    height:150px;
    width: 500px;
    border: 1px solid black;
    border-radius:5px;
    margin:auto;
    background-color: rgba(204,255,153,1);;
}

.dnd-element{
    border: 1px solid black;  
    background-color: rgba(204,255,204,1);
    border-radius: 4px;
    width: fit-content;
    max-width:150px;
    font-size:small;
    height: 1rem;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5px;
    margin:auto;
}

.dnd-target-area{
    position:relative;
    height:380px;
    width: 800px;
    margin:auto;
    margin-top:5px;
    margin-bottom:5px;
}

.dnd-target-container{
    position:absolute;
    display:flex;
    flex-flow: wrap;
    align-items:center;
    width: 150px;
    height: 150px;
}

.dnd-target{
    position: relative;
    float:left;
    display:flex;
    align-items:center;
    border-bottom: 2px solid black;  
    width: 150px;
    height: 30px;
}

.dnd-target-image{
    position:relative;
    float:left;
    border:solid black;
    width: 150px;
    height: 100px;
}

.dnd-feedback{
    display:none;
    position:absolute;
    top:150px;
    left:200px;
    width: 500px;
    margin:auto;
    padding:10px;
    background-color: rgb(244, 217, 167);
    border: 1px solid black;  
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#coopInstructions{
    text-align:left;
    margin:auto;
    width:fit-content;
}

#game2img{
    width: 720px;
    pointer-events:none;
    z-index: -1;
}
#selector_newyork{
    float:left;
    margin-left:1rem;
}
#selector_london{
    float:center;
    margin: 0 auto;
}
#selector_paris{
    float:right;
    margin-right:1rem;
}

#demo_game2img{
    width: 720px;
}
#demo_selector_newyork{
    float:left;
    margin-left:1rem;
}
#demo_selector_london{
    float:center;
    margin: 0 auto;
}
#demo_selector_paris{
    float:right;
    margin-right:1rem;
}

#tooltiplink{
    text-decoration:underline;
    cursor:pointer;
}

#paths{
    width:720px;
    height:720px;
    position:absolute;
    left: 5px;
    fill: none;
    z-index:0;
}

.path{
    fill: none;
    stroke: red;
    stroke-width:3px;
}